*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #E799A3;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    /* position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 450px;
    background-color: white;
    /* margin: 100px auto 20px; */
    padding: 40px 30px 30px;
    border-radius: 10px;
}

.app h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(237, 234, 234);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#add{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color:#E799A3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

table{
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#delete{
    margin-right: 20px;
}